<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utility</title>
</head>
<body>
<h1>Welcome to the text analyazer. Enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin: 0px; width: 1167px; height: 112px;'></textarea><br>
    <input type='checkbox' name='remvpunc'>Remove Punctuation<br>
    <input type='checkbox' name='uppercase'>Upper Case<br>
    <input type='checkbox' name='lowercase'>Lower Case<br>
    <input type='checkbox' name='countchar'>Count Char<br>
    <input type='checkbox' name='countwords'>Count Words<br>
    <button type='submit'>Analyze Text</button>
</form>
</body>
</html>